[submodule "librzu"]
	path = librzu
	url = ../librzu
[submodule "rzauth"]
	path = rzauth
	url = ../rzauth
[submodule "libuv"]
	path = libuv
	url = ../libuv
[submodule "rzbenchauth"]
	path = rzbenchauth
	url = ../rzbenchauth
[submodule "rzchatgateway"]
	path = rzchatgateway
	url = ../rzchatgateway
